# --- ARQUIVOS DE SISTEMA E PYTHON ---
__pycache__/
*.py[cod]
*$py.class
.ipynb_checkpoints/
*/.ipynb_checkpoints/*
env/
venv/
.env

# --- O QUE NÃO DEVEMOS SUBIR (PESADO) ---
# Ignora a pasta inteira de dados (Raw, Processed, Unzipped)
Datasets_Cybersecurity/

# Ignora arquivos soltos de dados caso você tenha salvo fora da pasta
*.csv
*.txt
*.arff

# --- O QUE DEVEMOS SUBIR (O RESULTADO) ---
# Note que NÃO coloquei a pasta 'Modelos/' aqui.
# Assim, o seu arquivo .pkl de 7MB será enviado para o GitHub (o que é ótimo!)