# ===========================
# 1. DADOS MASSIVOS (BLOQUEIO TOTAL)
# ===========================
*.csv
*.parquet
*.zip
*.arff
*.txt
*.pcap
*.pcap_ISCX

# ===========================
# 2. ARTEFATOS E MODELOS
# ===========================
# Ignoramos o modelo e o encoder pois são gerados pelo código
# e podem ser recriados rodando os notebooks.
*.json
*.joblib
*.pkl
*.h5

# ===========================
# 3. LIXO DE SISTEMA E JUPYTER
# ===========================
.ipynb_checkpoints/
__pycache__/
*.log
.~lock*
Thumbs.db
.DS_Store

# ===========================
# 4. EXCEÇÕES (O QUE QUEREMOS SUBIR)
# ===========================
# Caso tenha algum .txt pequeno de documentação que queira manter,
# você pode forçar a entrada dele depois, mas por segurança bloqueamos tudo.
!requirements.txt
!README.md